.container,
.container-fluid,
.container-md {
  border: 5px solid black;
  padding: 15px;
  margin-top: 20px;
}

.container {
  background-color: lightblue;
}

.container-fluid {
  background-color: lightgreen;
}

.container-md {
  background-color: lightgray;
}